
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: #4f0580;
	color: #fff;
}

.logo {
	max-height: 50px;
}

.some_space {
	margin-left: 20px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.sticky {
	position: sticky;
	top: 0;
}

.color_text{
	color:#4f0580 ;
	font-weight: bold;
}
.right_header {
	text-align: right;
}

.left_header {
	text-align: left;
}


.my_name{
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	color:#4f0580;
}

.main_img{
	margin: 40px;
	height: 400px;
}

.flex_1{
	display: flex;
	justify-self: center;
	justify-content: center;
	background-color: #fff;
}

.main_block{
	margin-top: 100px;
}

.button {
	display: inline-block;
	background: linear-gradient(#4f0580, #af90c5);
	height: 40px;
	width: 200px;
	line-height: 40px;
	padding-top: 0px;
	padding-bottom: 5px;
	text-align: center;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
	border: 2px solid #fff
}

.void{
	text-decoration: none;
}

.flex_project{
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(auto-fit, minmax(400px, 500px));
	grid-gap: 10px;
	margin: 20px;
}

.border_project{
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
}

body {
	background-color: #dfd2e7;
}

.my_name {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	color:#4f0580;
}

.main_img{
	margin: 40px;
	height: 400px;
}

.flex_1{
	display: flex;
	justify-self: center;
	justify-content: center;
	background-color: #fff;
}

.main_block{
	margin-top: 100px;
}

.button_projects{
	display: inline-block;
	background: #7d4e9c;
	height: 40px;
	width: 100px;
	line-height: 40px;
	text-align: center;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
	border: 2px solid #fff
}

.button_projects:hover{
	opacity: 0.8;
}

.button:hover{
	background: #650ca0;
}

.header_p{
	font-family: "Roboto", sans-serif;
	text-align: center;
	font-weight: 500;
	font-style: normal;
	color:#4f0580;
	margin: 40px;
}

body {
	background-color: #dfd2e7;
}

p{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* media */

@media (max-width: 734px) {
	.main_img{
		display: none;
	}
	.flex_project{
		grid-template-columns: repeat(auto-fit, minmax(350px, 450px));
	}
	.button {
		width: 150px;
	}
	.header_p{
		text-align: left;
	}
	.main_block{
		width: 70%;
		margin-bottom: 20px;
	}
}
