
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: #4f0580;
	color: #fff;
}

.logo {
	max-height: 50px;
}

.some_space {
	margin-left: 20px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.sticky {
	position: sticky;
	top: 0;
}

.color_text{
	color:#4f0580 ;
	font-weight: bold;
}
.right_header {
	text-align: right;
}

.left_header {
	text-align: left;
}

.my_name {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	color:#4f0580;
}

.main_img{
	margin: 40px;
	height: 400px;
}

.flex_1{
	display: flex;
	justify-self: center;
	justify-content: center;
	background-color: #fff;
}

.main_block{
	margin-top: 100px;
}

.button {
	background: linear-gradient(#4f0580, #867194);
	height: 40px;
	width: 200px;
	padding-top: 1px;
	padding-bottom: 9px;
	text-align: center;
	border-radius: 40px;
	cursor: pointer;
}

.flex_project{
	display: grid;
	grid-template-columns: repeat(3, 400px);
	grid-template-rows: repeat(2, 60px);
	grid-gap: 10px;
	margin: 20px;
}

.border_project{
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
}

body {
	background-color: #dfd2e7;
}

